.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem 3rem;

  button {
    border: 0;
    background: transparent;

    color: var(--highlight);
    font-size: 1rem;
    font-weight: 600;

    margin-top: 2rem;
  }

  .content {
    display: block;

    h1 {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;

      cursor: pointer;
    }

    p {
      color: var(--gray-300);
      font-size: 1.05rem;
    }

    & + .content {
      margin-top: 2rem;
    }
  }

  .postInfo {
    display: flex;
    justify-content: flex-start;

    margin-top: 2rem;

    div {
      margin-right: 1rem;

      display: flex;
      align-items: center;

      p, time {
        margin-left: 0.5rem;

        font-size: 0.90rem;
        color: var(--gray-500);
      }
    }
  }
}

